<div class="cv-left-date">{{ teach.year }}</div>
<div>{% if teach.class-url %}<a href="{{ teach.class-url }}"><b>{{ teach.class }}</b></a>{% else %}<b>{{ teach.class }}</b>{% endif %}</div>
<div><i>{{ teach.position }}{% if teach.institution %}, {% if teach.institution-url %}<a href="{{ teach.institution-url }}">{{ teach.institution }}</a>{% else %}{{ teach.institution }}{% endif %}{% endif %}{% if teach.location %}, {{ teach.location }}{% endif %}</i></div>
<div class="cv-description">{{ teach.description }}</div>
<div class="cv-spacer"></div>
